*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml
.DS_Store
/build
app/build/
/captures
.externalNativeBuild
.cxx
local.properties
.vscode/
node_modules/
test-results/
web-preview/.playwright-report/
web-preview/.playwright-results/
